.MainContentBorder {
    background-color: lightsteelblue;
    border: 2px solid;
    width: 80vw;
    height: 60vh;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    align-items: flex-end;
    padding-left: 1vw;
    padding-right: 1vw;
}

.MainTitle {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: 50px;
}

.BarsInGraph {
    border: 5px;
    font-family: 'Bitter', serif;
    text-align: center;
    width: 15vw;
    transition: 0.5s;
    height: 50%;
    background-color: #ED1B24;
}
.BarsInGraph:hover {
    width: 15.3vw;
    box-shadow: 0 -2px 10px 0 grey;
 }

.BarNamePosition {
    position: relative;
    top: -75px;
}

.InputField {
    display: block;
    margin-left: 107px;
    margin-top: 15px;
    width: 234px;
    height: 50px;
}

.SubmitStyle {
    display: block;
    margin-left: 107px;
    width: 100px;
}

.RemoveStyle {
    display: block;
    margin-left: 107px;
    width: 100px;
}

/* 
    background-color: #fff10a;
    background-color: #ED1B24;
    background-color: #451400;
    background-color: #0085ca;
    background-color: #F40000;
*/
